
/*General Usage*/
.underline {
  border-bottom: 3px solid;
  width: auto;
  max-width: 200px;
  margin: 0 auto 40px 40px;
}
.section-header {

}
.topic {
  margin-top: 40px;
}

/****************
Banner Section*/
#banner-box {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px 20px 30px;
}
.banner-name {
  padding-left: 10%;
  font-size: 38px;
}
.banner-name.first {

}
.banner-name.last {
  margin-top: 0;
}
.underline.yellow {
  max-width: 400px;
  margin: 0 auto 40px 15%;
  border-width: 5px;
  border-color: #C8AB0D;
}
#quote-box {
  background-color: #C8AB0D;
  text-align: center;
  padding: 20px;
}
/*End Banner Section
****************/



/****************
About Section*/
#bio-box {
  padding-bottom: 50px;
}
#writer-photo {
  float: left;
  margin-right: 10px;
  width: 45%;
  max-width: 275px;
}
.bio-content {

}
/*End About Section
****************/



/****************
Publications Section*/
.underline.blue {
  border-width: 3px;
  border-color: #558DC1;
}
.publication-box {
  padding: 10px 20px 20px 50px;
}
.publisher {
  font-style: italic;
}
.quote-icon {
  padding: 0 5px 5px;
}
.read-more-btn {

}
.btn-box {
  text-align: center;
  margin: 0 auto;
}
.read-more-btn {
  border-radius: 0;
  background-color: #558DC1;
  color: white;
  margin-bottom: 20px;
}
/*End Publications Section
****************/



/****************
Projects Section*/
.underline.red {
  border-width: 3px;
  border-color: #993300;
}
.project-box {
  padding: 20px 20px 20px 50px;
  /*padding: 20px 100px;*/
}
/*End Projects Section
****************/
